[Unit]
Description=Pionex CE+ADX Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pionex-bot/pionex-bot
EnvironmentFile=/opt/pionex-bot/pionex-bot/.env
ExecStart=//opt/pionex-bot/pionex-bot/.venv/bin/python /opt/pionex-bot/pionex-bot/pionex-bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target